:root{
    --brimary : rgba(91,109,147,1);
    --brim: rgba(213,227,230,1);
    --back:rgba(239,226,210,1);
    --ackground:rgba(238,238,228,1);
    --button:rgba(209,129,102,1);
    --text:rgba(54,64,66,1);
}

body{
    background-color: var(--ackground);
}

/* Services grid style 3x3 colume */
.container{
    width:70%;
    direction: rtl;
    display: grid;
    grid-template-columns: 33% 33% 32%;
    gap: 10px;
    margin: auto;
}

/* Grid Sub-container Style */
.sub{
    background: var(--back);
    padding: 1px;
    border-radius: 5px;
    padding: 10px;
}

.sub a{
    text-decoration: none;
    background-color: var(--button);
    border: 1px solid var(--button);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    float:left;
    color: var(--brim);
    border-radius: 10px;
    margin-left: 5px;
}

.sub a:hover{
    background-color: var(--brimary);
    border: 1px solid var(--brimary);
}

@media only screen and (max-width: 400px) {
    form.example button{
        width:10%;
    }
    .container{
        grid-template-columns: 33% 33% 32%;
    }
    .sub{
        width: 108%;
        font-size: 11pt;
    }
  }

  /* About page style */
 .contain{
    display: grid;
    grid-template-columns: 100%;
    margin: 10px;
    background-color: var(--back);
    border: 1px solid var(--back);
    border-radius: 5px;
 }
.contain a{
    text-decoration: none;
    color: var(--text);
 }

 .contain ul a:hover{
    color: var(--button);
    transform: scale(1.3);
 }

 .contain ul{
    list-style-type: none;
 }

 .contain section{
    background-color: var(--back);
    border: 1px solid var(--back);
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
 }

 .contain section aside{
    font-size: 15pt;
    color:var(--button);
 }

 .contain article{
    font-size: 13pt;
    color: var(--text);
    padding: 20px;
 }

 .contain span{
    font-weight:bold;
 }

 .contain .team{
    text-align: left;
 }