<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/formstyle.css" rel="stylesheet" />
    <title>تسجيل الدخول</title>
</head>

<body>
    <!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/formstyle.css" rel="stylesheet" />
    <title>تسجيل الدخول</title>
</head>
<body>
    <div class="container">
        <form id="blockchainForm" method="post" onsubmit="return login()">
            <label>البريد الإلكتروني</label>
            <input type="text" placeholder="أدخل البريد الإلكتروني" name="uname" id="uname" required>
            <br />
            <label>كلمة المرور</label>
            <input type="password" placeholder="أدخل كلمة المرور" name="psw" id="psw" required>
            <br />
            <input type="submit" value="تسجيل الدخول">
        </form>
        <div id="result"></div>
    </div>
    <script src="static/js/login.js"></script>
</body>
</html>
