<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/formstyle.css" rel="stylesheet" />
    <title>تسجيل الدخول</title>
</head>
<body>
    <div class="container">
        <form id="blockchainForm" method="post">
            <label>البريد الإلكتروني</label>
            <input type="text" placeholder="أدخل البريد الإلكتروني" name="uname" id="uname" required>
            <br />
            <label>كلمة المرور</label>
            <input type="password" placeholder="أدخل كلمة المرور" name="psw" id="psw" required>
            <br />
            <input type="submit" value="تسجيل الدخول">
            <span>نسيت <a href="#">كلمة المرور؟</a></span>
            <span class="psw"> ليس لديك حساب <a href="/register">سجل الآن؟ </a></span>
            <span style="text-align: center;" >
                سجل الدخول كـ
                <a href="/adminlog">
                    أدمن
                </a>
            </span>
        </form>
        <div id="result"></div>
    </div>
    <script>
        async function login(event) {
            event.preventDefault(); 
            const email = document.getElementById("uname").value;
            const password = document.getElementById("psw").value;
            const response = await fetch("http://localhost:9899/get_blocks");
            if (response.ok) {
                const blocks = await response.json();
                const userBlock = blocks.find(block => 
                    block.data.email === email && block.data.password === password
                );
                if (userBlock) {
                    document.getElementById("result").innerHTML = "<p>تم تسجيل الدخول بنجاح!</p>";
                    window.location.href = "/home"; 
                } else {
                    document.getElementById("result").innerHTML = "<p>فشل في تسجيل الدخول. تأكد من البريد الإلكتروني وكلمة المرور.</p>";
                }
            } else {
                document.getElementById("result").innerHTML = "<p>فشل في استرجاع البلوكات. يرجى المحاولة لاحقًا.</p>";
            }
        }
        document.getElementById("blockchainForm").addEventListener("submit", login);
    </script>
</body>
</html>
